@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
}

body {
    background-color: var(--tg-theme-bg-color, #fff);
    color: var(--tg-theme-text-color, #000);
}